In [5]:
%matplotlib inline
from sklearn.feature_extraction.text import TfidfVectorizer
from wordcloud import WordCloud
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.plotly as plotl
import plotly.graph_objs as go
import plotly.tools as tls
from plotly.tools import FigureFactory as FF
plt.style.use('ggplot')

In [12]:
corpus = ["This is very strange",
          "This is very nice"]
vectorizer = TfidfVectorizer(
                        use_idf=True, # utiliza o idf como peso, fazendo tf*idf
                        norm=None, # normaliza os vetores
                        smooth_idf=True, #soma 1 ao N e ao ni => idf = ln(N+1 / ni+1)
                        sublinear_tf=False, #tf = 1+ln(tf)
                        binary=False,
                        min_df=1, max_df=1.0, max_features=None,
                        strip_accents='unicode', # retira os acentos
                        ngram_range=(1,1), preprocessor=None, stop_words=None, tokenizer=None, vocabulary=None
             )
X = vectorizer.fit_transform(corpus)
idf = vectorizer.idf_
print dict(zip(vectorizer.get_feature_names(), idf))

{u'this': 1.0, u'very': 1.0, u'is': 1.0, u'strange': 1.4054651081081644, u'nice': 1.4054651081081644}

In [3]:
df = pd.read_json('bipolar_comorbid_patient_tweets.json')
df.head()

,tweetCreated,tweetFav,tweetID,tweetLang,tweetRT,tweetText,userID,userScreeName
0,2016-12-21 07:12:37,0,811469406882721792,en,50,RT @stephondupreepr: If I don't glo up in 2017...,710989245570289664,zaaria_
1,2016-12-21 07:05:09,0,811467529109569536,en,0,I'm over this retainer already,710989245570289664,zaaria_
2,2016-12-21 06:02:31,0,811451764557967360,en,0,I love scary movie 2 ðŸ˜‚ðŸ˜‚,710989245570289664,zaaria_
3,2016-12-21 04:03:56,0,811421921392885760,en,0,my dog deadass has separation anxiety,710989245570289664,zaaria_
4,2016-12-21 00:28:51,0,811367793425862656,en,0,Alexus just made my day... she told me my ass ...,710989245570289664,zaaria_

In [21]:
hist_data = [df['tweetCreated']]
data = [go.Histogram(y=df['tweetLang'])]
layout = go.Layout(
    title='Exploring students dictionary usage',
    xaxis=dict(
        title='frequency',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
        )
    )
)
fig = go.Figure(data=data, layout=layout)
plotl.iplot(fig)